@model IEnumerable<Orcamento>
@{
    ViewData["Title"] = "Orçamentos";
}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="container">
    <div class="row flex-box-center">
        <div class="col-md-offset-1 col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add
                                New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="row">
                                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Código</th>
                                <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Orçando</th>
                                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Data</th>
                                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orcamento in Model)
                            {
                                <tr class="row"> 
                                    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">@orcamento.Id</td>
                                    <td class="col-xs-5 col-sm-5 col-md-5 col-lg-5">@orcamento.Descricao</td>
                                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">@orcamento.Data.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <a asp-action="Update" asp-route-id="@orcamento.Id" title="Editar"
                                            class="btn btn-warning">
                                            <span class="fas fa-edit"></span>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@orcamento.Id" title="Deletar"
                                            class="btn btn-danger">
                                            <span class="fas fa-trash-alt"></span>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@orcamento.Id" title="Detalhes"
                                            class="btn btn-success">
                                            <span class="fas fa-check"></span>
                                        </a>
                                    </td>
                                </tr>
                            }                            
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
